<h1><%= @department.id ? 'Edit Department' : 'Create Department' %></h1>
<hr />
<%= form_for @department do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :avatar %>
  <%= f.text_field :avatar, required: true, placeholder: "Avatar" %>
  <br />
  <br />
  <%= f.submit %>
<% end %>