<h1> <%= @department.name %> Department</h1>
<h4> <%= @department.description %> </h4>
<hr />
<ul>
  <% @department.items.each do |item| %>
    <li><%= link_to item.name, [@department, item] %></li>
  <% end %>
</ul>
<%= link_to 'Create a New Item', new_department_item_path(@department) %>
<%# <%= link_to 'View Items', department_item_path(@department) %>
<%# <br />  %>
<hr />
<%# <p>What would you like to do?</p> %>
<%= link_to 'Edit Department', edit_department_path(@department) %>
<br />
<%= link_to 'Delete Department', @department, method: :delete %>
<br />
<%= link_to 'Back to All Departments', departments_path %>