<h1> <%= @item.name %> </h1> 
<h4> Description: <%= @item.description %> </h4> 
<h4> Price: $<%= @item.price %> </h4>
<hr />

<%= link_to 'Edit Item', edit_department_item_path([@department, @item]) %>
<br />
<%= link_to 'Delete Item', [@department, @item], method: :delete %>
<br />
<%= link_to 'Back to Items', department_path(@department) %>